@font-face {
    font-family: "Golos-Regular";
    src: url("../fonts/Golos-Text_Regular.ttf") format("opentype");
    font-weight: normal;
    font-display: swap;
}
@font-face {
    font-family: "Golos-Bold";
    src: url("../fonts/Golos-Text_DemiBold.ttf") format("opentype");
    font-weight: normal;
    font-display: swap;
}
body {
    font-family: "Golos-Regular", sans-serif;
    /* font-size: calc( (100vw - Vmin)/(Vmax - Vmin) * (Fmax - Fmin) + Fmin); */
    font-size: calc( (100vw - 480px)/(1900 - 320) * (21 - 13) + 13px);
    margin: 0 auto;
    background: #F0F0F0;
}
a {
    color: #6d6d6d;
}
.grid {
    display: grid;
    row-gap: 10px;
}
header, nav, main {
    display: flex;
    background: #FBFBFB;
    border: solid 1px #00000036;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
header {
    flex-direction: row;
    justify-content: space-between;
    padding: 1% 1%;
}
.header-title {
    margin: 1%;
}
.header-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1%;
    width: 15%;
}
.header-links {
    display: flex;
    flex-direction: column;
    margin: 2% auto;
    width: 20%;
    justify-content: center;
    row-gap: 10%;
}
.header-links > a {
    display: flex;
    flex-direction: row;
    justify-content: left;
    font-size: 110%;
    width: 100%;
}
.header-links > a span {
    -webkit-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
.header-links > a span:hover {
    font-weight: 600;
}
.link-img {
    width: 15%;
    max-width: 100px;
    margin-right: 10%;
    transition: all 0.2s ease-in-out;
}
.link-img:hover {
    background: #c1c1c17e;
    border-radius: 10%;
}
.logo-img {
    width: 100%;
    max-width: 500px;
    height: auto;
    background: #a8a8a82f;
    border: solid 2px #686868b7;
}
.nav-desktop > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.nav-desktop > ul li {
    padding-left: 7%;
    padding-right: 7%;
    border-right: solid #00000036 1px;
    border-left: solid #00000036 1px;
}
.nav-desktop > ul li a {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #525252;
    justify-content: center;
    font-size: 120%;
    width: 100%;
    text-decoration: none;
}
.nav-desktop > ul li a:hover {
    background: #cfcfcf2c;
}
.nav-img {
    width: 10%;
    min-width: 50px;
    padding-left: 10px;
}
main {
    display: block;
}
.text-field {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    resize: none;
    width: 100%;
    height: 200px;
    font-size: 120%;
    padding: 1%;
    border: solid 1px #00000036;
    border-radius: 8px;
}
.announcements h2 {
    margin: 2%;
}
.announcements-list {
    margin: 0% 2%;
    padding-left: 0;
}
.announcement {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    word-wrap: break-word;
    padding: 10px;
    margin: 3% auto;
    background: #dddddd;
    border-radius: 10px;
    border: solid 1px #00000036;
}
.announcement-name {
    margin-top: 2%;
    font-weight: 600;
    font-style: italic;
}
.announcement-time {
    font-family: "Golos-Bold", sans-serif;
    margin-top: 2%;
}
.send {
    cursor: pointer;
    width: 15%;
    min-width: fit-content;
    padding: 1.5%;
    margin: 1%;
    color: #313131;
    font-size: 110%;
    font-family: "Golos-Bold", sans-serif;
    background: #dddddd;
    border-radius: 8px;
    border: solid 1px #00000036;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: 2px 3px #00122752;
}
.send:active {
    box-shadow: 1px 2px #00122752;
    -moz-transform: translateY(2px);
    -webkit-transform: translateY(2px);
    -ms-transform: translateY(2px);
    transform: translateY(2px);
}
footer {
    margin: 2% auto 0% auto;
    font-size: 80%;
}
/* размеры экрана взяты с bootstrap */
@media screen and (min-width: 992px) { /* разрешение экрана компьютера */
    .grid {
        margin: 1% 4%;
    }

    header {
        grid-column: 1 / 10;
    }
    .header-title {
        width: 50%;
    }
    .link-img {
        margin-right: 5%;
        width: 18%;
    }
    nav {
        grid-column: 1 / 10;
    }
    .nav-mobile {
        display: none;
    }
    main {
        grid-row: 3 / 10;
        grid-column: 1 / 10;
    }
    footer {
        grid-column: 1 / 10;
    }
}
@media screen and (max-width: 992px) and (min-width: 576px) {  /* разрешение экрана планшета */
    .grid {
        margin: 1% 2%;
    }
    .header-title {
        width: 40%;
    }
    .header-links {
        width: 20%;
    }
    .header-logo {
        width: 20%;
    }
    .link-img {
        margin-right: 5%;
        width: 18%;
    }
    .nav-mobile {
        display: none;
    }
}
@media screen and (max-width: 576px) {  /* разрешение экрана телефона */
    .grid {
        margin: 1%;
    }
    header {
        display: grid;
        place-items: center;
    }
    .header-title {
        grid-column: 1 / 2;
        width: 100%;
    }
    .header-logo {
        grid-row: 1;
        grid-column: 2 / 4;
        width: 80%;
    }
    .header-links {
        grid-column: 1 / 4;
        width: 100%;
        row-gap: 10px;
    }
    .link-img {
        margin-right: 2%;
        width: 5%;
    }
    .nav-desktop {
        display: none;
    }
    .nav-mobile {
        display: flex;
        flex-direction: column;
        font-size: 130%;
        background: none;
        border: none;
    }
    .mobile-menu {
        display: none;
    }
    .mobile-menu.active {
        display: grid;
        justify-items: left;
        align-items: center;
        padding: 5px;
        background: #FBFBFB;
        border: solid 1px #00000036;
    }
    .mobile-menu span {
        grid-column: 1 / 4;
    }
    .mobile-menu a {
        grid-column: 4 / 5;
    }
    .mobile-menu-split {
        grid-column: 1 / 5;
        background: #00000036;
        border: none;
        height: 1px;
        width: 100%;
    }
    .menu {
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        height: 100%;
        margin-bottom: 5px;
        padding: 5px;
        border: solid 1px #00000036;
        background: #FBFBFB;
    }
    .unfold {
        margin-right: 15px;
        cursor: pointer;
        width: 30px;
        height: 30px;
        background-image: url("../images/menu.png");
        background-color: none;
        background-size: cover;
        border-radius: 8px;
        border: none;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;;
    }
    .text-field {
        height: 100px;
    }
}